p {
    text-align: center;
}

button {
    margin: auto;
    display: block;
    height: 30px;
    align-content: center;
}

img {
    padding-top: 2%;
}

/* h1 {
    text-align: center;
} */

main {
    margin-bottom: 5%;
}
/* 
@media screen and (max-width: 800px) {
    main {
        padding-left: 10px;
        padding-right: 10px;
    }
} */